h1 {
  margin-left: 10px;
}

.container {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.cards {
  height: 200px;
  width: 300px;
  background: #EEEEFA;
  background-size: 140px 200px;
  background-repeat: no-repeat;
  margin: 2%;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
  position: relative;
  border: 2px outset #EEEEFA;
}

.pet-info {
  text-align: right;
  margin-right: 5px;
}

#header {
  z-index: 100;
  background: blue;
  position: fixed;
  top: 0;
  height: 15%;
  width: 100%;
  border-bottom: 2px outset #DDF;
}
