.container {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.cards {
  height: 200px;
  width: 150px;
  background: yellow;
  text-align: center;
  margin: 2%;
}

  #header {
    background: blue;
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;
  }
